<nav id="sidebar" class="img"
     style="min-height:100%;background-image: url({{ url_for('static', filename='assets/images/bg_1.jpg') }}) ">
    <div class="p-3">
        <h1><a href="{{ url_for("index") }}" class="logo" ><font color="#FFC107">Sharebooks </font></a></h1>


        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="{{ url_for("index") }}" style="font-size: large"><img src="https://img.icons8.com/ios-filled/50/ffffff/foreclosure.png" height="33" width="33" /></span> <b style="padding-left: 20px">Home</b></a>
            </li>
            <li>
                <a href="https://sharebooks.fr/" style="font-size: large"><img src="https://img.icons8.com/ios-filled/50/ffffff/internet.png"  height="33" width="33"/><b style="padding-left: 20px"> Sharebooks Website </b></a>
            </li>
            <li>
                <a href="https://sharebooks-app.fr/" style="font-size: large"><img src="https://img.icons8.com/ios-filled/50/ffffff/broken-phone.png" height="33" width="33"/><b style="padding-left: 20px"> Sharebooks App</b></a>
            </li>
            <li>
                <a href="{{ url_for("fovorite") }}" style="font-size: large"><img src="https://img.icons8.com/ios-filled/50/ffffff/novel--v1.png" height="33" width="33"/><b style="padding-left: 20px"> The Most Searched </b></a>
            </li>
            <li>
                <a href="{{ url_for("predictif") }}" style="font-size: large"><span class="fa fa-cogs mr-3" ></span> <b style="padding-left: 20px"> Sharebooks Predictif </b></a>
            </li>

            <li class="row">

                <a class="col" href="https://www.facebook.com/sharebooks.off"> <img
                        src="https://img.icons8.com/ios-filled/50/ffffff/facebook-new.png" width="38px"height="38px"/></a>

                <a class="col" href="https://www.instagram.com/sharebooks_off/?hl=fr"> <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new--v1.png" width="38px"height="38px"/></a>







                <center>
                <a  href="https://www.linkedin.com/company/sharebooks/"> <img
                         src="https://img.icons8.com/ios-filled/50/ffffff/linkedin-circled--v1.png"width="38px"height="38px"/></a>
                </center>
            </li>
        </ul>


        <div >
            <p>

                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>



    </div>
</nav>