{% extends 'layout.html' %}

{% block title %}
    Sharebooks Ngram Viewer
{% endblock %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-header bg-warning">
                    <center>
                                        <h4 class="card-title bg-warning" style="font-family: 'Comic Sans MS';"><font
                                                color="white"> Searching Statistics</font></h4>
                                    </center>
                </div>
                <center>
                {% include 'includes/_chart.html' %}
                    </center>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="content">

                    <div class="row">
                        <div class="col">
                            <div class="card ">
                                <div class="card-header bg-warning">
                                    <center>
                                        <h4 class="card-title bg-warning" style="font-family: 'Comic Sans MS';"><font
                                                color="white"> Most searched TOP 10</font></h4>
                                    </center>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">

                                        <table style="box-sizing: border-box;" class="table ">
                                            <thead class=" text-info">
                                            <tr>
                                                <th>
                                                    <center>
                                                        Ngram
                                                    </center>
                                                </th>
                                                <th>
                                                    <center>
                                                        Start_year
                                                    </center>
                                                </th>
                                                <th>
                                                    <center>
                                                        End_Year
                                                    </center>
                                                </th>
                                                <th>
                                                    <center>
                                                        Corpus
                                                    </center>
                                                </th>
                                                <th>
                                                    <center>
                                                        Ngram viewer
                                                    </center>
                                                </th>
                                            </tr>

                                            </thead>
                                            {% for i,t in records.iterrows() %}


                                                <tr>


                                                    <th>
                                                        <center>
                                                            {{ t["ngram"] }}
                                                        </center>

                                                    </th>
                                                    <th>
                                                        <center>
                                                            {{ t["deb"] }}</center>

                                                    </th>
                                                    <th>
                                                        <center>
                                                            {{ t["end"] }}</center>

                                                    </th>
                                                    <th>
                                                        <center>
                                                            {{ t["corpus"] }}
                                                        </center>
                                                    </th>
                                                    <th>
                                                        <center>
                                                            <a href="{{ url_for('line', form=t["ngram"].lower() ,corpus=t["corpus"],deb=t["deb"],end=t["end"]) }}">
                                                                <button name="button" value="OK" type="button"
                                                                        class="btn btn-light">view ngram
                                                                </button>
                                                            </a>
                                                        </center>
                                                    </th>


                                                </tr>
                                            {% endfor %}


                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

{% endblock %}