{% extends 'layout.html' %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

{% block title %}
    Sharebooks
{% endblock %}

{% block body %}

<body >
<p style="background-image: url('https://media.lesechos.com/api/v1/images/view/5f7c423f8fe56f13c94a6e28/1280x720/0604023431070-web-tete.jpg');"></p>
                <h3>Sharebooks</h3>
                <p class="lead">
                    Sharebooks Ngram Viewer est une application linguistique proposée par Google, permettant d’observer
                    l’évolution de la fréquence d’un ou de plusieurs mots ou groupes de mots à travers le temps dans les
                    sources imprimées.</p>

            </div>
        </div>

</body>
{% endblock %}