<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.bundle.js">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <title>Hello, world!</title>
</head>

<body >


<div class="row " style="position: fixed">
<div class="col  col-lg-2" style="height: 100%;position: fixed" >
        {% include 'includes/_sidebar.html' %}
    </div>
    <div class="col" style="height: 100% ;width: 100%;position: fixed" >
    <div class="row justify-content-md-center" >
    {% include 'includes/_navbar.html' %}

    <div class="col-md" style="padding-top: 6%">
        <center>
            <h2>{{ ngrams.title() }}</h2>

            <canvas id="myChart" width="1235" height="750"></canvas>
            <br>
            {% for y in t %}
                <a href="{{ url_for('line1', form=ngrams ,corpus=corpus,deb=deb,end=end,id=y) }}">
                    <button name="button" value="OK" type="button" class="btn btn-info">{{ labels[y] }}</button>
                </a>
            {% endfor %}

        </center>
    </div>

    <div class="col" style="padding-top: 6% ;position: fixed">
    <br>
        <div class="container " style="border-radius: 30px;width:382px">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3 ">Books </h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-info" href="#carouselExampleIndicators2" role="button"
                       data-slide="prev">
                        <img src="https://img.icons8.com/ios/50/ffffff/long-arrow-left.png" width="40px"/>
                    </a>
                    <a class="btn btn-info" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <img src="https://img.icons8.com/ios/50/ffffff/long-arrow-right.png" width="40px"/>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">


                                    <div class="card bg-light">
                                        <center>
                                            <img class="img-fluid" style="width: 250px;height: 310px"
                                                 src="{{ d[0]["img"] }}">
                                        </center>
                                        <div class="card-body">
                                            <h4 class="card-title">{{ ngrams }}</h4>

                                            <ul class="list-group list-group-flush bg-light">
                                                <li class="list-group-item bg-light"><b>Authors</b>
                                                    <p>{{ d[0]["author"] }}</p>
                                                </li>
                                                <li class="list-group-item bg-light"><b>Genres</b>
                                                    <p>{{ d[0]["author"] }}</p>
                                                </li>
                                                <li class="list-group-item bg-light"><b>Description</b></li>
                                            </ul>
                                            <p class="card-text">{{ d[0]["desc"] }}</p>

                                        </div>


                                    </div>
                                </div>
                            </div>
                            {% for c,y in d.items() %}
                                {% if c!= 0 %}
                                    <div class="carousel-item">
                                        <div class="row">


                                            <div class="card  bg-light">
                                                <center>
                                                    <img class="img-fluid" style="width: 250px;height: 310px"
                                                         src="{{ y["img"] }}">
                                                </center>
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ ngrams }}</h4>
                                                    <ul class="list-group list-group-flush bg-light">
                                                        <li class="list-group-item bg-light"><b>Authors</b>
                                                            <p>{{ y["author"] }}</p>
                                                        </li>
                                                        <li class="list-group-item bg-light"><b>Genres</b>
                                                            <p>{{ y["author"] }}</p>
                                                        </li>
                                                        <li class="list-group-item bg-light"><b>Description</b></li>
                                                    </ul>
                                                    <p class="card-text">{{ y["desc"] }}</p>

                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
<script type='text/javascript'></script>
<script>
    steps = 10
    max =
    {{ max }}


    var originalLineDraw = Chart.controllers.line.prototype.draw;
    Chart.helpers.extend(Chart.controllers.line.prototype, {
        draw: function () {
            originalLineDraw.apply(this, arguments);

            var chart = this.chart;
            var ctx = chart.chart.ctx;

            var index = chart.config.data.lineAtIndex;
            if (index) {
                var xaxis = chart.scales['x-axis-0'];
                var yaxis = chart.scales['y-axis-0'];

                ctx.save();
                ctx.beginPath();
                ctx.moveTo(xaxis.getPixelForValue(undefined, index), yaxis.top);
                ctx.strokeStyle = 'black';

                ctx.lineTo(xaxis.getPixelForValue(undefined, index), yaxis.bottom);
                ctx.stroke();
                ctx.restore();
            }
        }
    });


    var config = {
        type: 'line',
        data: {
            labels: {{ labels | safe }},
            datasets: [

                {
                    label: 'courbe des mentions dans les sources imprimées',
                    data: {{ values | safe }},
                    fill: false,

                    borderColor: '#2B5C67',
                    strokeColor: '#2B5C67',
                    pointColor: '#2B5C67',
                    pointHighlightStroke: '#2B5C67',
                    pointHoverBackgroundColor: '#2B5C67',
                    pointBorderWidth: 0,
                    pointHoverRadius: 0,
                    pointHoverBorderWidth: 0,
                    pointRadius: 0,

                    titleFontColor: '#333',
                    bodyFontColor: '#666',

                }],
            lineAtIndex: {{x}}
        },
        options: {
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
    var ctx = document.getElementById("myChart").getContext("2d");

    new Chart(ctx, config);
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>